@keyframes slide-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logo-image {
  height: 60px;
  width: auto;
  object-fit: contain;
}
.navbar-icon {
  width: 150px; /* Increase this value as needed */
  height: auto; /* Maintains aspect ratio */
}

.logos {
  overflow: hidden;
  background-color: blue;
  width: 100%;
  height: 100px;
  margin-top: 6rem;
}
.logos2 {
  overflow: hidden;
  background-color: blue;
  width: 100%;
  height: 100px;
  margin-top: 0;
}

.logo-slide {
  display: flex;
  gap: 3rem;
  width: calc(200% + 3rem);
  animation: slide-left-to-right 30s linear infinite;
}

.logo-slide div {
  flex: 0 0 auto;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}
@media only screen and (max-width: 680px) {
  .logos {
    height: 60px;
    margin-top: 2rem;
  }

  .logos2 {
    height: 60px;
    margin-top: 0rem;
  }

  .logo-slide {
    gap: 1rem;
    width: calc(200% + 1rem);
    animation: slide-left-to-right 20s linear infinite;
  }

  .logo-slide div {
    padding: 0.5rem;
    font-size: 0.8rem;
    transform: scale(0.8);
  }

  .logo-image {
    height: 20px;
    width: auto;
    object-fit: contain;
  }

  .navbar-icon {
    height: 70px;
    width: auto;
    object-fit: contain;
  }
}

.logos2 {
  .logo-slide {
    animation: slide-right-to-left 30s linear infinite;
  }
}

@media (min-width: 681px) {
  .logos2 {
    display: none;
  }
}
