.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0000ff;
  color: white;
  padding: 3rem;
  text-align: center;
  height: 50%;
  padding-top: 9rem;

  &__item {
    flex: 1;
  }

  &__value {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
  }

  &__label {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5rem;
  }
}
@media only screen and (max-width: 680px) {
  .stats-section {
    padding: 1.5rem;
    padding-top: 3rem;
    flex-wrap: wrap;

    &__item {
      flex: 0 0 50%;
      margin-bottom: 2rem;
    }

    &__value {
      font-size: 1.8rem;
    }

    &__label {
      font-size: 0.8rem;
      margin-top: 0.3rem;
    }
  }
}
