.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0000ff;
  color: white;
  padding: 3rem;
  text-align: center;
  height: 50%;
  padding-top: 6rem;

  &__item {
    flex: 1;
  }

  &__value {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }

  &__label {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5rem;
  }
}
