@mixin flex($prop) {
  display: flex;
  align-items: center;

  @if $prop == "center" {
    justify-content: center;
  } @else {
    justify-content: space-between;
  }
}
@mixin fillArea() {
  width: 100%;
  height: 100%;
}
