.selected {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 5rem 0;
  padding-bottom: 10rem;
  background-color: transparent;
  margin-top: 20rem;
}

.selectHead {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0rem 0rem 9rem 0rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15rem;
  line-height: 1;
  font-weight: 500;
}

@media (max-width: 768px) {
  .selectHead {
    font-size: 15vw;
  }
}
