.selected {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;

  background-color: black;
}

.selectHead {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0rem 0rem 9rem 0rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15vw;
  line-height: 1;
}

@media (max-width: 768px) {
  .selectHead {
    font-size: 15vw;
  }
}
