.work-section {
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  background-color: #000;
  height: 100vh;
  margin-top: -5.5rem;

  &__scroll-container {
    padding: 7rem 7rem 5rem 7rem;

    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    overflow-y: scroll;
    height: 80vh;
    gap: 60px;
    row-gap: 40px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &__scroll-container::-webkit-scrollbar {
    display: none;
  }

  &__imageDiv {
    grid-column: 1 / 2;
    position: sticky;
    top: 0;
    text-align: center;
    scroll-behavior: smooth;
  }

  &__workImage {
    width: 100%;
    max-width: 560px;
    height: "500px";
    object-fit: cover;
    margin-left: -90px;
  }

  &__pills {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  &__pill-item {
    color: white;
    background-color: black;
    border: 1px solid #0000ff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    min-height: 1.75rem;
    font-size: 1.675rem;
    line-height: 157.143%;
    display: flex;
    overflow: hidden;
    padding: 5px 15px;
    flex: 1 1 auto;
    min-width: 200px;
    text-align: center;
  }

  &__heading-style {
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  &____para-style {
    min-width: 150px;
  }

  &__imageDiv {
    grid-column: 1 / 2;
    position: sticky;
    top: 0;
    text-align: center;
  }

  &__rightBottomDiv {
    margin-top: 1rem;
    grid-column: 2 / 3;
    gap: 1.875rem;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 65vh;
    display: flex;
    margin-top: 10px;
    position: sticky;
    background-color: #000;
    scroll-behavior: smooth;
  }

  &__linktag {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    cursor: pointer;
  }

  &__title {
    font-size: 4.5rem;
    // margin-bottom: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: start;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    width: 50%;
    height: 630px;
    background-color: #0000ff;
    margin-right: 2rem;

    @media (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &__details {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
  }

  &__tabs {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;

    &__firstbutton {
      border: 1px solid #0000ff;
      background: transparent;
      color: #fff;
      height: 2rem;
      width: 10rem;
      padding: 1rem;
      cursor: pointer;
      display: flex;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
    }
  }

  &__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
  }

  &__description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    width: 65%;
    font-family: sans-serif;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;

    span {
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1600px) {
}
