.work-section {
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  background-color: #000;
  min-height: 500vh;
  position: relative;
  padding: 5rem 0;
  &__scroll-container {
    position: relative;
    height: 100%;
  }

  &-stick {
    padding: 5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    grid-auto-rows: auto;
    row-gap: 40px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: calc(1000 - var(--index));
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__imageDiv {
    top: 0;
    text-align: center;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
  }

  &__workImage {
    width: 100%;
    max-width: 560px;
    // height: 500px;
    object-fit: cover;
  }

  // Rest of your original SCSS remains the same
  &__pills {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    display: flex;
  }

  &__pill-item {
    color: white;
    background-color: black;
    border: 1px solid #0000ff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    min-height: 1.75rem;
    font-size: 1.2rem;
    line-height: 157.143%;
    display: flex;
    overflow: hidden;
    padding: 5px 15px;
    flex: 1 1 auto;
    min-width: 200px;
    text-align: center;
  }

  &__heading-style {
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  &__para-style {
    min-width: 150px;
    color: #696969;
    font-size: 23px;
  }

  &__rightBottomDiv {
    margin-top: 1rem;
    padding-top: 2rem;
    grid-column: 2 / 3;
    gap: 1.875rem;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 65vh;
    display: flex;
    margin-top: 10px;
    position: relative;
    background-color: #000;
    scroll-behavior: smooth;
  }

  &__linktag {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    cursor: pointer;
  }

  &__title {
    font-size: 4.5rem;
    margin-left: 4.9rem;
    font-weight: bold;
    color: #fff;
    text-align: start;
    grid-column: span 2;
    padding-top: 2rem;

    z-index: 1001;
  }
}
