@use "../abstract/variables";
@use "../abstract/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.15s all ease;
}
html {
  scroll-behavior: smooth;
}
body {
  z-index: -3;
}

.main {
  z-index: -3;
}
.app {
  z-index: -3;
}

.logo-box {
  width: 7rem;
  height: 4rem;
  background-color: variables.$color-gray;
  @include mixins.flex(center);
}
