.grid-container {
  // width: 100%;
  // padding: 5rem 10rem;
  // // margin: 0 auto;
  // height: 100vh;

  width: 100%;
  padding: 6rem;
  margin: -23.5rem auto;
  height: 150vh;
  background-color: white;
  z-index: 1;

  &__filters {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    gap: 15px;
    flex-wrap: nowrap;
  }
  &__filter-btn {
    border: 2px solid #0000ff;
    border-radius: 18px;
    padding: 10px 20px;
    margin: 0 5px;
    background: none;
    font-size: 14px;

    &:hover {
      background-color: rgba(203, 202, 217, 0.1);
    }

    &.active {
      background-color: #0000ff;
      color: white;
    }
  }

  &__bluebox {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 40px;
  }
  &__boxitem {
    height: 200px;
    border-radius: 8px;

    &--tall {
      background-color: blue;
      height: 24rem;
      margin-bottom: 2rem;
    }
    &--medium {
      background-color: blue;
      height: 13rem;
      margin-bottom: 2rem;
    }
  }

  .grid-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
  }

  .grid-container2 > div {
    background-color: #0000ff;
    color: white;
    flex: 1 1 calc(25% - 16px);
    margin: 10px;
    max-width: 20%;
    height: 400px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  @media (max-width: 1024px) {
    .grid-container2 > div {
      flex: 1 1 calc(25% - 16px);
      max-width: 25%;
    }
  }

  @media (max-width: 768px) {
    .grid-container2 > div {
      flex: 1 1 calc(50% - 16px);
      max-width: 50%;
    }
  }

  @media (max-width: 480px) {
    .grid-container2 > div {
      flex: 1 1 calc(100% - 16px);
      max-width: 100%;
    }
  }
}
