.grid-container {
  width: 100%;
  padding: 6rem;
  height: 150vh;
  background-color: white;

  &__filters {
    display: flex;
    justify-content: start;
    margin-bottom: 5rem;
    gap: 15px;
    flex-wrap: wrap;
  }
  &__filter-btn {
    border: 2px solid rgb(21, 10, 179);
    border-radius: 18px;
    padding: 10px 20px;
    margin: 0 5px;
    background: none;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: rgba(203, 202, 217, 0.1);
    }

    &.active {
      background-color: rgb(21, 10, 179);
      color: white;
    }
  }

  &__bluebox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  &__boxitem {
    border-radius: 8px;
    background-color: blue;
    height: 26rem;
  }
}
