.bottom-container {
  position: relative;
}
.lets {
  position: sticky;
  bottom: 0;
  background-color: blue;
  z-index: 1;
  height: 25rem;

  &-container {
    position: sticky;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    background-color: blue;
    color: white;
    height: 25rem;
    transform-origin: bottom;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
.lets-h6 {
  font-weight: 100;
  font-size: 7rem;
  margin-left: 3rem;
  align-content: center;
  // line-height: 1;
}
.inlineContainer {
  display: flex;
  align-items: center;
}
.lets-arrow {
  font-size: 10rem;
  color: white;
  z-index: 1;
  margin-top: -5rem;
}

.lets-icon {
  font-weight: 100;
  font-size: 10px;
  color: white;
  z-index: 1;
}

.small-footer {
  background-color: black;
  position: sticky;
  top: 0;
  height: 4.5rem;
  // width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-contents {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
  }

  @media (max-width: 680px) {
    &-contents {
      display: flex;
      justify-content: flex-start;
      margin-left: 2rem;
      gap: 1rem;
    }
  }
}
.footer-icon {
  color: white;
  font-size: 1.6rem;
}

.divider {
  background-color: white;
  height: 1px;
}
.contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

@media (max-width: 1413px) {
  .lets-h6 {
    font-size: 6.5rem;
  }
  .lets-arrow {
    font-size: 6.5rem;
    margin-top: -1rem;
  }
}
@media (max-width: 1271px) {
  .lets-h6 {
    font-size: 6rem;
  }
  .lets-arrow {
    font-size: 6rem;
    margin-top: -1rem;
  }
}
@media (max-width: 1177px) {
  .lets-h6 {
    font-size: 5.5rem;
  }
  .lets-arrow {
    font-size: 5.5rem;
    margin-top: -1rem;
  }
  .lets-container {
    height: 20rem;
  }
  .small-footer {
    height: 5.5rem;
  }
}

@media (max-width: 1083px) {
  .lets-h6 {
    font-size: 5rem;
  }
  .lets-arrow {
    font-size: 5rem;
  }
  .lets-container {
    height: 20rem;
  }
  .small-footer {
    height: 5rem;
  }
}

@media (max-width: 988px) {
  .lets-h6 {
    font-size: 4.8rem;
  }
  .lets-arrow {
    font-size: 4.8rem;
  }
  .lets-container {
    height: 20rem;
  }
  .small-footer {
    height: 5rem;
  }
}

@media (max-width: 680px) {
  .lets-h6 {
    font-size: 2.5rem;
  }
  .lets-arrow {
    font-size: 2.5rem;
  }
  .lets-container {
    height: 10rem;
  }
  .small-footer {
    height: 4rem;
  }
  .lets {
    height: 10rem;
  }
}
@media (max-width: 518px) {
  .lets-h6 {
    font-size: 1.9rem;
  }
  .lets-arrow {
    font-size: 1.9rem;
  }
  .lets-container {
    height: 8rem;
  }
  .small-footer {
    height: 3rem;
  }
  .lets {
    height: 10rem;
  }
}

@media (max-width: 405px) {
  .lets-h6 {
    font-size: 1.4rem;
  }
  .lets-arrow {
    font-size: 1.4rem;
  }
  .lets-container {
    height: 5rem;
  }
  .small-footer {
    height: 3rem;
  }
  .lets {
    height: 6rem;
  }
}
