@use "../../abstract/variables" as vars;

.paragraph-container {
  height: 700vh;
}

.paragraph {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding: 0 10rem;
  transition: all 1s;
  background-color: vars.$color-primary;
  font-weight: 600;
  line-height: 1;
  height: 100vh;
  position: sticky;
  top: 0;
}

@media (max-width: 680px) {
  .paragraph {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .paragraph-container {
    height: 150vh;
  }
}
