@use "../../abstract/variables" as vars;

.paragraph {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding: 0 10rem;
  padding-bottom: 4rem;
  background-color: vars.$color-primary;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
}
