.icons {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}

.active {
  background-color: #fff;
  transition: 0.5s all ease;
  color: rgb(54, 50, 50);
}

.active .icons {
  color: blue;
  transition: 0.5s all ease;
}

.active p {
  color: rgb(54, 50, 50);
  transition: 0.5s all ease;
}

.hide {
  opacity: 0;
  transform: 0.5s all ease;
  display: none;
}

.visible {
  opacity: 1;
  transform: 0.5s all ease;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.15s all ease;
}

html {
  scroll-behavior: smooth;
  scroll-timeline-axis: block;
  scroll-timeline-name: --scroll;
  transition: scroll-position 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  z-index: -3;
}

.main {
  z-index: -3;
}

.app {
  z-index: -3;
}

.logo-box {
  width: 7rem;
  height: 4rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
}

@keyframes navText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-head {
  font-size: 1.825rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-text {
  font-size: 0.8rem;
  color: rgb(54, 50, 50);
  font-weight: 500;
}

.text-small-bold {
  font-weight: 600;
  color: rgb(54, 50, 50);
  font-size: 1.3rem;
}

.robot-container {
  height: 200vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  top: 0;
  position: sticky;
}
.robot-image {
  width: 100%;
  height: 50%;
}

.overlay-text {
  display: flex;
  font-size: 10rem;
  font-weight: bold;
  color: rgb(162, 162, 162);
}

.boost-performance {
  width: 100%;
  z-index: 2000;
  text-align: center;
  background-color: blue;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  bottom: 0;
  display: flex;
  flex-flow: column;
  padding-top: 4rem;
  position: relative;
}
.boost-performance__title {
  font-size: 3rem;
  margin: 0;
  font-weight: 200;
}
.boost-performance__highlight {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}
.boost-performance__subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: thin;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0000ff;
  color: white;
  padding: 3rem;
  text-align: center;
  height: 50%;
  padding-top: 6rem;
}
.stats-section__item {
  flex: 1;
}
.stats-section__value {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}
.stats-section__label {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

/* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
/* ------------------------------------------------
    ---------------------------------------------------
    ------------------------------------------------ */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  background-color: blue;
  width: 100%;
  height: 100px;
  margin-top: 4rem;
}

.logo-slide {
  display: flex;
  gap: 3rem;
  width: calc(200% + 3rem);
  animation: slide 30s linear infinite;
}

.logo-slide div {
  flex: 0 0 auto;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.paragraph {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding: 0 10rem;
  transition: all 1s;
  background-color: blue;
  font-weight: 600;
  line-height: 1;
  height: 100vh;
  position: sticky;
  top: 0;
}

.work-section {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.959);
  position: relative;
}
.work-section__header-container {
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  z-index: 10;
  padding-left: 15rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  width: 100%;
  z-index: 1000;
}
.work-section__title {
  font-size: 4.2rem;
  padding-top: 3rem;
  font-weight: 600;
  color: #fff;
  text-align: start;
}
.work-section__paragraph {
  font-size: 1.1rem;
  font-weight: 500;
  color: #a7a2a2;
  text-align: start;
  width: 500px;
  padding-top: 1.5rem;
}
.work-section__combo-set {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 10rem;
  gap: 1rem;
}
.work-section__second-tab {
  background: black;
  display: flex;
}
.work-section__scroll-container {
  position: static;
  top: 0rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}
.work-section__sticky-section {
  position: sticky;
  top: 16.5rem;
  height: 100vh;
}
.work-section__cover {
  height: 25vh;
  position: sticky;
  top: 80vh;
  background-color: rgb(8, 7, 7);
  z-index: 1000;
  font-size: 15.7rem;
  text-wrap: nowrap;
  font-weight: 600;
  color: #fff;
}
.work-section__non-sticky {
  position: sticky;
  height: auto;
}
.work-section__imageDiv {
  grid-column: 1/2;
  position: sticky;
  top: 0;
  text-align: center;
  scroll-behavior: smooth;
  max-width: 100%;
}
.work-section__workImage {
  width: 100%;
  max-width: 500px;
  width: 500px;
  height: 550px;
  object-fit: cover;
}
.work-section__pills {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.work-section__pill-item {
  color: white;
  background-color: black;
  border: 1px solid #0000ff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  min-height: 1.75rem;
  font-size: 1.3rem;
  line-height: 157.143%;
  display: flex;
  overflow: hidden;
  padding: 5px 15px;
  flex: 1 1 auto;
  min-width: 100px;
  text-align: center;
}
.work-section__heading-style {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.work-section____para-style {
  min-width: 150px;
  margin-bottom: 2rem;
}
.work-section__rightBottomDiv {
  grid-column: 1/-1; /* Span the entire width of the grid */
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100vh;
  display: flex;
  position: sticky;
  background-color: black;
  scroll-behavior: smooth;
}
.work-section__linktag {
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 10px;
  cursor: pointer;
}
.work-section__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 768px) {
  .work-section__content {
    flex-direction: column;
    align-items: center;
  }
}
.work-section__image {
  width: 50%;
  height: 630px;
  background-color: #0000ff;
  margin-right: 2rem;
}
@media (max-width: 768px) {
  .work-section__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.work-section__details {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .work-section__details {
    width: 100%;
    text-align: center;
  }
}
.work-section__tabs {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}
.work-section__tabs__firstbutton {
  border: 1px solid #0000ff;
  background: transparent;
  color: #fff;
  height: 2rem;
  width: 10rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
.work-section__heading {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 0;
}
.work-section__description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  width: 65%;
  font-family: sans-serif;
}
.work-section__link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}
.work-section__link span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 5rem 0;
  background-color: black;
}

.selectHead {
  width: 100%;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15.8rem;
  line-height: 1;
  font-weight: 600;
}

@media (max-width: 768px) {
  .selectHead {
    font-size: 15vw;
  }
}
.grid-container {
  width: 100%;
  padding: 6rem;
  background-color: white;
  z-index: 200000;
  position: relative;
  bottom: 0;
}
.grid-container__filters {
  display: flex;
  justify-content: start;
  margin-bottom: 5rem;
  gap: 15px;
  flex-wrap: nowrap;
  position: sticky;
  z-index: 200001;
  top: 2rem;
  background-color: white;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}
.grid-container__filter-btn {
  border: 2px solid #0000ff;
  border-radius: 18px;
  padding: 10px 25px;
  margin: 0 5px;
  background: none;
  font-size: 14px;
  cursor: pointer;
}
.grid-container__filter-btn:hover {
  background-color: rgba(203, 202, 217, 0.1);
}
.grid-container__filter-btn.active {
  background-color: #0000ff;
  color: white;
}
.grid-container__bluebox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 1200px) {
  .grid-container__bluebox {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .grid-container__filters {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 550px) {
  .grid-container__bluebox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .grid-container__bluebox {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid-container__boxitem {
  border-radius: 8px;
  background-color: transparent;
  background-color: transparent;
  height: 26rem;
  position: relative;
  transition: transform 1s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid-container__image-wrapperAll {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  transition: transform 0.5s ease, bottom 0.5s ease;
  transform: translateY(0);
}

.grid-container__boxitemAll:hover .grid-container__image-wrapperAll {
  transform: translateY(-100%);
}

.grid-container__image-wrapperAll:nth-child(1) {
  transform: translateY(0) !important;
  transition: none;
}

.grid-container__image-wrapperAll:nth-child(2) {
  transition-delay: 1.45555s;
}

.grid-container__image-wrapperAll:nth-child(3) {
  transition-delay: 1s;
}

.grid-container__image-wrapperAll:nth-child(4) {
  transition-delay: 0.5s;
}

.grid-container__image-wrapperAll:nth-child(5) {
  transition-delay: 0s;
}

.grid-container__hoverimageAll {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-container__boxitemAll {
  border-radius: 8px;
  background-color: transparent;
  background-color: transparent;
  height: 26rem;
  position: relative;
  transition: transform 1s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid-container__boxitemAll:not(:hover) .grid-container__image-wrapperAll {
  transition-delay: 0s;
}

.grid-container__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  transition: transform 0.5s ease, bottom 0.5s ease;
  transform: translateY(0);
}

.grid-container__boxitem:hover .grid-container__image-wrapper {
  transform: translateY(-100%);
}

.grid-container__image-wrapper:nth-child(1) {
  transform: translateY(0) !important;
  transition: none;
}

.grid-container__image-wrapper:nth-child(2) {
  transition-delay: 0.7s;
}

.grid-container__image-wrapper:nth-child(3) {
  transition-delay: 0s;
}

.grid-container__boxitem:not(:hover) .grid-container__image-wrapper {
  transition-delay: 0s;
}

.grid-container__boxitem:last-child .grid-container__image-wrapper:hover {
  transform: translateY(0) !important;
}

.grid-container__hoverimage {
  display: block;
  width: 100%;
  height: auto;
}

.grid-container__boxitemVideo {
  border-radius: 8px;
  background-color: transparent;
  background-color: transparent;
  height: 26rem;
  position: relative;
  transition: transform 1s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 1px solid rgba(155, 155, 155, 0.425);
}

.grid-container__image-wrapperVideo {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.grid-container__hoverimageVideo {
  display: block;
  width: 100%;
  height: auto;
}

.grid-container__blueboxVideo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.grid-container__boxitemPhoto {
  border-radius: 8px;
  background-color: transparent;
  background-color: transparent;
  height: 26rem;
  position: relative;
  transition: transform 1s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid-container__image-wrapperPhoto {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2.5s ease, bottom 2.5s ease;
}

.grid-container__boxitemPhoto:hover .grid-container__image-wrapperPhoto img {
  transform: translateY(-100%);
  transition-delay: 1s;
}

.grid-container__hoverimagePhoto {
  display: block;
  width: 100%;
  height: auto;
}

.grid-container__blueboxPhoto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.grid-container__image-wrapperBrand {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  transition: transform 0.5s ease, bottom 0.5s ease;
  transform: translateY(0);
}

.grid-container__boxitemBrand:hover .grid-container__image-wrapperBrand {
  transform: translateY(-100%);
}

.grid-container__image-wrapperBrand:nth-child(1) {
  transform: translateY(0) !important;
  transition: none;
}

.grid-container__image-wrapperBrand:nth-child(2) {
  transition-delay: 2.7s;
}

.grid-container__image-wrapperBrand:nth-child(3) {
  transition-delay: 1.8s;
}

.grid-container__image-wrapperBrand:nth-child(4) {
  transition-delay: 0.9s;
}

.grid-container__image-wrapperBrand:nth-child(5) {
  transition-delay: 0s;
}

.grid-container__hoverimageBrand {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-container__boxitemBrand {
  border-radius: 8px;
  background-color: transparent;
  background-color: transparent;
  height: 26rem;
  position: relative;
  transition: transform 1s ease;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid-container__boxitemBrand:not(:hover) .grid-container__image-wrapperBrand {
  transition-delay: 0s;
}

@media screen and (max-width: 900px) {
  .grid-container {
    padding: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .grid-container {
    padding: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .grid-container__blueboxPhoto {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container__blueboxVideo {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .grid-container__blueboxPhoto {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container__blueboxVideo {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container__hoverimage {
    height: 100%;
  }
}
@media screen and (max-width: 450px) {
  .grid-container__blueboxPhoto {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-container__blueboxVideo {
    grid-template-columns: repeat(1, 1fr);
  }
}
.bottom-container {
  position: relative;
}

.lets {
  position: sticky;
  bottom: 0;
  background-color: blue;
  z-index: 1;
  height: 25rem;
}
.lets-container {
  position: sticky;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  background-color: blue;
  color: white;
  height: 25rem;
  transform-origin: bottom;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.lets-h6 {
  font-weight: 100;
  font-size: 7rem;
  margin-left: 3rem;
  align-content: center;
}

.lets-icon {
  font-weight: 100;
  font-size: 10px;
  color: white;
  z-index: 1;
}

.small-footer {
  background-color: black;
  position: sticky;
  top: 0;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small-footer-contents {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
}

.footer-icon {
  color: white;
  font-size: 1.6rem;
}

.divider {
  background-color: white;
  height: 1px;
}

.contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.navbar-logo {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 4rem;
  z-index: 100000000000;
  height: 0px;
  padding-left: 7rem;
  padding-right: 7rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  padding: 12px 5px 12px 5px;
  border-radius: 50px;
}

.navbar-item {
  margin: 0 8px;
}

.navbar-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: none;
}

.navbar-item a.active {
  color: #ffffff;
  border-radius: 50px;
  padding: 8px 15px;
  background-color: #0000ff;
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    z-index: 10000000000000;
  }
  .navbar-list {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #000;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
  }
  .navbar-list.open {
    display: flex;
  }
  .navbar-item {
    margin: 10px 0;
  }
  .navbar-item a {
    color: #fff;
  }
  .navbar-menu {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*# sourceMappingURL=sassStyle.css.map */
